// Place all the styles related to the ToDos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-style {
  margin: 0 10px 20px 30px;

  .btn {
    margin-left: 5px;
  }
};

.list-item {
  margin: 10px;
};
